*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #c9e8eb;
    color: #000000;
    line-height: 1.6;
}
main{
    flex :1;
}
a { text-decoration: none; 
    color: inherit; }
ul { list-style: none; }
img { max-width: 100%; 
    display: block; }

     /* header */
header {
    background-color: #f3dcb2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;}
.header.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.logo h1 {
    font-family: 'Arial', sans-serif;
    color: #100f0f;
    font-size: 35px
    text-transform: uppercase;}
.MainNav ul {
    display: flex;
    gap: 25px;}
.MainNav a{
    font-size: 18px;
    transition: color 0.3s;}
.MainNav a:hover {
    color: #e34a24;}

/* Timeline cho lịch sử */
.timeline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.content {
    background-color: #ffffff;
   flex: 1;
   padding: 20px;
   border-left: 4px solid #c9e8eb;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
/* footer */
footer {
    background-color: #222;
    color: #ddd;
    padding: 40px 20px 10px;
}   
.footer .content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    
  
